@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  box-sizing: border-box;
  font-size: 13px;
}
html, body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
body.body-normal.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}
.overlay::before {
    animation: grain ls steps(10) infinite;
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.48;
    position: fixed;
    top: -110%;
    width: 300%;
}
@keyframes grain {
    0%,100% {transform:translate(0,0);}
    10% {transform:translate(-5%,-10%);}
    20% {transform:translate(-15%,5%);}
    30% {transform:translate(-7%,-25%);}
    40% {transform:translate(-5%,-25%);}
    50% {transform:translate(-15%,10%);}
    60% {transform:translate(15%,0%);}
    70% {transform:translate(0%,15%);}
    80% {transform:translate(3%,-35%);}
    90% {transform:translate(-10%,10%);}
  }
.main-bg{
    width: 100%;
    position: relative;
}
.header {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;    
    padding: 7vh 0;
    z-index: 10;
    pointer-events: none;
}
.header .header-content {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10vw;
}
.header .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: -1;
    pointer-events: none;
}
.header .header-shadow-main {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.86), rgba(0,0,0,.35) 70%, transparent);
    opacity: 1;
}
.header .header-logo-white {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    pointer-events: auto;
    z-index: 200000;
}
.header .header-logo-black {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    z-index: 200000;
    pointer-events: auto;
}
.header .header-navbar {
    position: absolute;
    padding-right: 100px;
    display: block;
    padding-top: 1.4%;
    margin-left: 75%;
}
.header .buttons {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    pointer-events: auto;
}
.header .header-buttons {
    display: inline-block;
}
.header a.header-nav-link {
    font-size: 22px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    font-family: 'Heebo', sans-serif;
    transition: all 0.3s ease;
}
.header-nav-link > span {
    display: inline-block;
    transition: transform 0.1s linear;
}
a:active, a:hover, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}
.header-logo-white .logo-white-active {
    height: 100px;
    margin-right: 100px;
    z-index: 200000;
}
.passive {
    opacity: 0;
}
.header-logo-black .logo-black-active {
    height: 90px;
    padding-left: 3.2px;
    opacity: 1 !important;
    z-index: 200000;
}
.header .header-content, .header .header-logo-white {
    display: flex;
    z-index: 200000;
}
.header .header-content, .header .header-logo-black {
    display: flex;
    position: absolute;
    z-index: 200000;
}
.header li {
    padding-left: 50px;
}
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.6s ease;
    opacity: 0;
}
.header-nav-link:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(45);
    opacity: 1;
}
span.menu-button {
    font-family: "Heebo", sans-serif;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    cursor: none;
}
button.header-nav-link {
    border: none;
    background: none;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button.header-nav-link:active {
    outline: none;
    border: none;
}
button.header-nav-link:focus {
    outline: none;
    border: none;
}

.menu {
    z-index: 0;
    opacity: 1;
    position: absolute;
    background: white;
    height: 100vh;
    width: 100%;
    left: -96%;
}
.data {
    text-align: left;
    padding-top: 250px;
    padding-left: 75px;
    z-index: 10;
}
.main-nav ul {
    list-style: none;
}
.main-nav li a {
    background: none;
    color: black;
    font-size: 36px;
    font-family: "Heebo", sans-serif;
    font-weight: 200;
    line-height: -50px;
    letter-spacing: -2px;
}
span.Close {
    position: absolute;
    right: 7px;
}
.reverse {
    font-size: 22px;
    font-weight: 100;
    color: black;
    padding: 10px 5px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease;
}
.header-logo-black {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    z-index: 200000;
    pointer-events: auto;
}
.header-logo-black a{
    font-size: 20px;
    z-index: 200000;
    font-family: "Heebo", sans-serif;
    color: black;
    text-decoration: none;
}
.cursor-black {
    pointer-events: none;
    position: fixed;
    padding: 0.2rem;
    background-color: black;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.6s ease;
    opacity: 0;
}
.header-nav-link:hover ~ .cursor-black {
    transform: translate(-50%, -50%) scale(45);
    opacity: 1;
}
span.menu-prop.reverse:hover {
    font-size: 22px;
    font-weight: 100;
    color: white;
    padding: 10px 5px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease;
}
.nav-img-holder {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 73%;
}
.menu .nav-img-holder {
    background: black;
    background-image: cover;
}
.nav-img-holder video {
    opacity: .900;
}
.menu-item-arrow > ion-icon {
    position: relative;
    top: -8px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.menu-wrapper {
    display: flex;
    position: relative;
    padding-left: 2%;
    transition: all 0.2s ease-out;
}
.menu-item-arrow {
    font-size: 5px;
}
li.menu-items-first:hover .menu-wrapper {
    padding-left: 0;
}
li.menu-items-first:hover ion-icon {
    opacity: 1;
}
li.menu-items-other:hover .menu-wrapper {
    padding-left: 0;
}
li.menu-items-other:hover ion-icon {
    opacity: 1;
}
li.menu-items-other {
    padding-top: 20px;
}
li.menu-items-first {
    overflow: hidden;
}
.wrapper-ext {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200000;
} 
.loader-ext {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: 20vh;
    background: black;
    z-index: 200000;
}
.nav-footer-icons {
    width: 100%;
    height: 50px;
    margin-top: 110px;
    display: flex;
}
.border-top-footer {
    width: 120%;
    margin-left: -100px;
    height: 10px;
    margin-top: 25px;
    border-top: 1px solid rgb(204, 204, 204);
    position: absolute;
}
.social-media {
    width: 300px;
    height: 100%;
    margin-top: 60px;
}
.social-media a > ion-icon {
    color: black;
    font-size: 20px;
    padding-right: 10px;
}
.language-selection {
    width: 300px;
    height: 100%;
    margin-top: 60px;
    margin-left: 450px;
    display: flex;
}
.language-selection a p {
    color: black;
    font-size: 15px;
    font-family: "Heebo", sans-serif;
    font-weight: 200;
}
.language-selection .black-fnt {
    font-weight: 400;
}
.main-nav-images {
    position: absolute;
    width: 350px;
    height: 450px;
    margin-left: 500px;
    margin-top: -80px;
}
.main-nav-images img {
    width: 100%;
    height: 100%;
    opacity: 0;
}
@media (max-width: 900px) {
    .nav-img-holder {
        display: none;
    }
    video {
        width: auto;
        height: 100%;
    }
}
@media (max-width: 768px) {
    video {
        display: none;
    }
    .nav-img-holder {
        display: none;
    }
}
@media(min-width: 900px) {

    .header-navbar {
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width: 900px) {

    .header-navbar {
        top: 10%;
    }
}
.hero {
    width: 100%;
    position: absolute;
    z-index: 5;
}
.invisible-hero {
    visibility: hidden;
}
.image-slider {
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.image-slide {
    height: 100vh;
    margin: 0 auto;
}

.slick-slide.slick-center {
    transform: scale(1.2);
    transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
    transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.slider-control {
    margin: 0%;
    position: absolute;
    z-index: 2;
    bottom: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
}

button {
    color: #fff;
    background: none;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    margin: .4em;
    display: inline-block;
}

button:focus {
    outline: none;
}

.block-1 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 5%;
    left: 0%;
    background: #0f0f0f;
}

.block-2 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 25%;
    left: 25%;
    background: #0f0f0f;
}

.block-3 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 5%;
    right: 0%;
    background: #0f0f0f;
}

.overlay {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 20%;
    left: 5%;
    background: rgba(0, 0, 0, .65);
}

.text-slider-wrapper {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 45%;
}

.text-slider {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.text-slide h1 {
    color: #fff;
    font-size: 64px;
    font-family: "Cinzel";
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 10%;
}



/*
.slider-control button {
    color: #fff;
    width: 71px;
    height: 71px;
    background: none;
    border: none;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
}
.slider-control button:hover {
    transition: all 1s ease;
    color:black;
    background: none;
    padding: 24px;
    border: none;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
}
.slider-control button:focus {
    transition: all 1s ease;
    color:black;
    background: none;
    padding: 24px;
    border: none;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
}*/