@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.larkeneue-regular-normal-white-17px {
  color: white;
  font-family: "LarkeNeue-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.web-1920-1 {
  background-color: white;
  height: 1080px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 1920px;
}
.web-1920-1 .component-2-1 {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.web-1920-1 .hakkimizda {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  right: calc(35.56% - 39px);
  text-align: left;
  white-space: nowrap;
  width: 109px;
}
.web-1920-1 .iletisim {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  right: calc(24.08% - 26px);
  text-align: left;
  white-space: nowrap;
  width: 109px;
}
.web-1920-1 .koleksiyon {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  left: calc(24.24% - 26px);
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}
.web-1920-1 .logo {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  left: 142px;
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}
.web-1920-1 .rectangle-2 {
  background-color: black;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.web-1920-1 .seramik-sir-hobi {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  right: calc(48.63% - 82px);
  text-align: left;
  white-space: nowrap;
  width: 168px;
}
.web-1920-1 .teknik-porselen {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  left: calc(36.64% - 56px);
  letter-spacing: 0px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 154px;
}
.web-1920-1:hover {
  opacity: 1;
}
:root {
  --dove-gray: rgba(112, 112, 112, 1);
}