@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  box-sizing: border-box;
}
body{
    background-color: black;
}
.main-bg{
    width: 100%;
    position: relative;
}
.header {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;    
    padding: 7vh 0;
    z-index: 10;
    pointer-events: none;
}
.header .header-content {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10vw;
}
.header .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: -1;
    pointer-events: none;
}
.header .header-shadow-main {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.86), rgba(0,0,0,.35) 70%, transparent);
    opacity: 1;
}
.header .header-logo {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    pointer-events: auto;
}
.header .header-navbar {
    position: relative;
    padding-right: 100px;
    display: block;
}
.header .buttons {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    pointer-events: auto;
}
.header .header-buttons {
    display: inline-block;
}
.header a.header-nav-link {
    font-size: 15px;
    color: #fff;
    padding: 10px 5px;
    font-family: 'Italiana', serif;
}
.header-buttons > a:hover {
    opacity: 1;
    transition: opacity .35s cubic-bezier(.39,.575,.565,1) 0s;
}
a:active, a:hover, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}
.header-logo > a {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.header .header-content, .header .header-logo {
    display: flex;
}
.header li {
    padding-left: 50px;
}