@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  box-sizing: border-box;
  font-size: 13px;
}
html, body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}
body.body-normal.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}
.overlay::before {
    animation: grain ls steps(10) infinite;
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.48;
    position: fixed;
    top: -110%;
    width: 300%;
}
@keyframes grain {
    0%,100% {transform:translate(0,0);}
    10% {transform:translate(-5%,-10%);}
    20% {transform:translate(-15%,5%);}
    30% {transform:translate(-7%,-25%);}
    40% {transform:translate(-5%,-25%);}
    50% {transform:translate(-15%,10%);}
    60% {transform:translate(15%,0%);}
    70% {transform:translate(0%,15%);}
    80% {transform:translate(3%,-35%);}
    90% {transform:translate(-10%,10%);}
  }
.main-bg{
    width: 100%;
    position: relative;
}
.header {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;    
    padding: 7vh 0;
    z-index: 10;
    pointer-events: none;
}
.header .header-content {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10vw;
}
.header .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: -1;
    pointer-events: none;
}
.header .header-shadow-main {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.86), rgba(0,0,0,.35) 70%, transparent);
    opacity: 1;
}
.header .header-logo {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    pointer-events: auto;
}
.header .header-navbar {
    position: relative;
    padding-right: 100px;
    display: block;
}
.header .buttons {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    pointer-events: auto;
}
.header .header-buttons {
    display: inline-block;
}
.header a.header-nav-link {
    font-size: 22px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease;
}
.header-nav-link > span {
    display: inline-block;
    transition: transform 0.1s linear;
}
a:active, a:hover, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}
.header-logo > a {
    font-size: 20px;
    font-family: "Heebo", sans-serif;
    color: #fff;
    text-decoration: none;
}
.header .header-content, .header .header-logo {
    display: flex;
}
.header li {
    padding-left: 50px;
}
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.6s ease;
    opacity: 0;
}
.header-nav-link:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(45);
    opacity: 1;
}
span.menu-button {
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    cursor: none;
}
button.header-nav-link {
    border: none;
    background: none;
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button.header-nav-link:active {
    outline: none;
    border: none;
}
button.header-nav-link:focus {
    outline: none;
    border: none;
}

.menu {
    z-index: 0;
    opacity: 1;
    position: absolute;
    background: white;
    height: 100vh;
    width: 100%;
    left: -96%;
}
.data {
    text-align: left;
    padding-top: 180px;
    padding-left: 75px;
}
.main-nav ul {
    list-style: none;
}
.main-nav li a {
    background: none;
    color: black;
    font-size: 96px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    letter-spacing: -5px;
    line-height: 100px;
}
span.Close {
    position: absolute;
    right: 7px;
}
.reverse {
    font-size: 22px;
    font-weight: 100;
    color: black;
    padding: 10px 5px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease;
}
.header-logo-black {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    pointer-events: auto;
}
.header-logo-black > a{
    font-size: 20px;
    font-family: "Heebo", sans-serif;
    color: black;
    text-decoration: none;
}
.cursor-black {
    pointer-events: none;
    position: fixed;
    padding: 0.2rem;
    background-color: black;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.6s ease;
    opacity: 0;
}
.header-nav-link:hover ~ .cursor-black {
    transform: translate(-50%, -50%) scale(45);
    opacity: 1;
}
span.menu-prop.reverse:hover {
    font-size: 22px;
    font-weight: 100;
    color: white;
    padding: 10px 5px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease;
}
.nav-img-holder {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
}
.menu .nav-img-holder {
    padding-right: 400px;
    background: black;
}
.nav-img-holder video {
    opacity: .900;
}
ion-icon {
    position: relative;
    top: 8px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.menu-wrapper {
    display: flex;
    position: relative;
    padding-left: 2%;
    transition: all 0.2s ease-out;
}
.menu-item-arrow {
    font-size: 33px;
    font-weight: 400;
}
li.menu-items-first:hover .menu-wrapper {
    padding-left: 0;
}
li.menu-items-first:hover ion-icon {
    opacity: 1;
}
li.menu-items-other:hover .menu-wrapper {
    padding-left: 0;
}
li.menu-items-other:hover ion-icon {
    opacity: 1;
}
li.menu-items-first {
    overflow: hidden;
}


@media (max-width: 900px) {
    .nav-img-holder {
        display: none;
    }
    video {
        width: auto;
        height: 100%;
    }
}
@media (max-width: 768px) {
    video {
        display: none;
    }
    .nav-img-holder {
        display: none;
    }
}
@media(min-width: 900px) {

    .header-navbar {
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width: 900px) {

    .header-navbar {
        top: 10%;
    }
}